# -----------------------------------------------------------------------
# Files ignored by Git.
#
# Keep project-specific ignore rules in subdirectories whenever possible.
# -----------------------------------------------------------------------

# 1 Build artifacts
# -----------------

build/
dist/
package/
result
result-*
target/

# 1.1 Development environment
# ---------------------------

.direnv/
.svelte-kit/

# Environment variables
# ---------------------

.env
.env.*
!.env.example

# Cache
# -----

.cache/
node_modules/
*.log
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Editor
# ------

.claude/
.idea/
.vscode/

# Operating system
# ----------------

.DS_Store
Desktop.ini
Thumbs.db
